.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

.secondContainer {
    background-color: rgb(226, 226, 226);
    width: 85%;
}

.secondContainer h1 {
    margin-top: 40px;
    
}

.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
}

.info {
    padding: 20px;
    font-size: 20px;
}

.image {
    width: 400px;
    border-radius: 50px;
    margin-left: 10px;
}